#index {
    background-image:url("hack5.2.jpg");
    background-attachment: fixed;
    border:solid black 3px;
    font-family: 'Helvetica Neue', 'Segoe UI Light', sans-serif;
    text-align:center;
    }
#logo {   
    border: 1px solid black;
    border-radius: 50%;
    width:100px;  
}
#title {
    text-align:center;
}
   

td {
  height: 50px;
  vertical-align: bottom;
}
@media only screen and (max-width: 600px) {
     table {
          width: 75%;
    height:30%;
    background-image: linear-gradient(#16222A, #3A6073);
    }
    div.eb {
    font-size: 10px;
  
}
}
th {
  text-align: left;
    height:75px;
}
p {
    style = "text-align:center;
}

