body {
    background: linear-gradient(#121912, #b0a4b0, #4c2261);
    border:solid black 2px;
    font-family: 'Helvetica Neue', 'Segoe UI Light', sans-serif;
    text-align:center;
    } 
#logo {   
    float:left;
    margin-left:10px;
    margin-right:10px;
    margin:auto;
}
/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #333;
  float:right;
  padding :10px;
    border:2px;
    border-color:white;
    margin-left:10px;
    margin-right:10px;
    margin:auto;
  
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding:;
  text-decoration: none;
  font-size: 17px;
 
}

/* Style the hamburger menu */
.topnav a.icon {
  background: black;
    top:0;
    right:0;
      padding :10px;
    border:2px;
    border-color:white;
    margin-left:10px;
    margin-right:10px;
    margin:auto;
}

#divblock{
    width:100%;
    height:20%;
    background-color: #707;
    font-family: 'Helvetica Neue', 'Segoe UI Light', sans-serif;
    color:white;
    text-align:center; 
    margin-left:auto;
    margin-right:auto;
    disply:block;
}

#events, #news, #opportunities {
    width:75%;
    background-color: #aaa;
    font-family: 'Helvetica Neue', 'Segoe UI Light', sans-serif;
    color:black;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    display:block;
}

 .zoom {
        height: auto;
        transition-duration: 1s;
        transition-timing-function: ease;
        -webkit-transition-duration: 1s;
        -webkit-transition-timing-function: ease;
      }
      .zoom:hover {
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
      }
