@charset "utf-8";
*,*:after {box-sizing:inherit;}


p,*:after { font-style:bold;
			font-family:calibri, calibri-light, sans-serif;
			text-decoration: underline;
			text-shadow:1px 1px white;
			font-size:16px;
}
html, body {
	font-family:Times New Roman, arial, sans-serif;
	background-image:url(canyon.jpg);
	background-size:100% auto;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
	box-sizing:border-box;
	color:black;
	text-align:center;
}

ul {
	list-style-type: none;
	margin: auto;
	padding: 5px;
border:1px dotted white;
	background-color: #333343;
	display:inline-block;
	width:90%;
	text-align:left;

}
li {
	float: left;
	font-size:16px;
	width:20%;
	height:100%;
	border:1px dotted white;
	text-align:center;
}
li a, .dropping {
	display:block;
	color: lightgray;
	text-decoration: none;
}
li a:hover, .drop:hover .dropping {
	background-color: darkred;
	color:gray;
	height:100%;
}
.dripdrop {
	display: none;
	position: absolute;
	background-color: darkblue;
	border:1px dotted white;
	font-size:14px;
	margin: auto;

}
.dripdrop a {
	color: gray;
	text-decoration: none;
	display: block;
		border:1px dotted white;
		text-align:center;
		margin: auto;
			padding: 5px;

}
.dripdrop a:hover {
	background-color:darkmagenta;
	color:white;


}
.drop:hover .dripdrop {
	display:block;
	margin:auto;
	width:17.5%;
}

			
	header {
		border:2px dotted black;
		background-image:url(sky.jpg);
		background-repeat:no-repeat;
		background-size:100%;
		font-style:italic;
		}
			
	h1 {
		font-family:Times New Roman, arial, sans-serif;
		font-size:65px;
		color:black;
		margin:0px;
		padding:0px;
		text-align:center;
		font-style:italic;
		}
					
	main {
		display:block;
		border:2px dotted white;
		background-color:darkmagenta;
		text-align:center;
		float:left;
		width:100%;
		margin:auto;
		}
		#motto{
			font-style:bold;
			font-family:calibri, calibri-light, sans-serif;
			text-decoration: underline;
			font-size:2.5em;
			text-shadow:1px 1px white;
		}
		
			#rocks {
		width:100%;
		text-align:center;
	border:1px solid black;
		margin:auto;
		display:block;
		}
				
	#rocky {
		width:70%;

		border:2px dotted white;
		border-radius:85% 55%;
		display:block;
		margin:auto;
		}
		figcaption{

			font-size:10px;
		}
		
			aside {
		display:block;
		background-color:darkred;
		text-align:center;
		float:left;
		width:40%;
		margin:auto;
		color:black;
				border:3px dotted white;
		}
	#ducks {
		width:100%;
		text-align:center;
	border:1px solid black;
		margin:auto;
		display:block;
		}
				
	#ducky {
		width:70%;

		border:2px dotted white;
		border-radius:85% 55%;
		display:block;
		margin:auto;
		}
		figcaption{

			font-size:10px;
		}


	
	#purr {
		width:34%;
		margin:auto;
		height:150px;
		border:2px dotted white;
		border-radius:50%;
		display:block;
		margin-top:20px;
			}

		footer {
		display:block;
		width:100%;
		margin:auto;

		background-color:darkblue;
		background-repeat: no-repeat;
		border:2px dotted white;
		text-decoration:underline;
		font-size:12px;
		float:left;
		}
		
		footer p {
		display:block;
		float:left;
		width:60%;

		margin:auto;
		background-image: url(sky.jpg);
		background-repeat: no-repeat;
		border:2px solid black;
		text-decoration:underline;
		padding:30px;
		}


